html {
    background-color: #00d982;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
}

header {
    color: #fff;
}

h2 {
    margin-bottom: 0%;
    padding-top: 20px;
    height: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #5e7992;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

p {
}

form {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label {
    font-weight: bold;
    color: #5e7992;
}

input {
    box-sizing: border-box;
    border: 1px solid #ebeeef;
    background-color: #f9fafa;
}

.form-item {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

button {
    background-color: #00d982;
    border: none;
    color: #fff;
}

input,
button {
    width: calc(100% - 20px);
    height: 40px;
    text-align: center;
    font-size: 1rem;
    border-radius: 2px;
}

@media (min-width:600px) {
    .row {
        display: inline-block;
        width: calc(100%/2 - 10px);
    }
    div,input {
        padding-right: 2px;
    }
}

@media (min-width:900px) {
    #form-wrapper {
        display: inline-block;
        width: 44%;
    }
}